.myBackground {
    background-color: #141426;;
    font-size: 60px;
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 5px 5px 5px black;
}

.mySquares {
    background-color: #39355f;
    border-radius: 5px;
    min-width:100px;
    border: 2px solid #745ca7;
    padding: 1.5rem;
    margin: 1.5rem;
    font-weight: bold;
    box-shadow: 3px 5px 5px black;
}

body {
    color: #aa68eb;
}